.pharmacyBaseContainer {
	font-family: 'Poppins', Arial, sans-serif;
	background-color: #f7f7f7; /* Light gray background */
	height: 100%;
}
.pharmacyBaseContainer .topContainer {
	width: 100%;
	height: 10%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
}
.pharmacyBaseContainer .bottomContainer {
	width: 100%;
	height: 60%;
}
