.adminAddStaffBaseContainer {
	font-family: 'Poppins', Arial, sans-serif;
	background-color: #fff; /* Light gray background */
	height: 100%;
}
.adminAddStaffBaseContainer .topContainer {
	width: 100%;
	height: 20%;
	align-items: center;
	justify-content: space-evenly;
	background-color: #f5ebe0;
}
.adminAddStaffBaseContainer .bottomContainer {
	width: 100%;
	height: 60%;
	justify-content: center;
}
.AdminRow_1Row5 {
	display: flex;
	justify-content: center;
}
.AdminRow_1Row5 table {
	border-collapse: collapse;
	width: 98%;
	margin-top: 3%;
}
.AdminRow_1Row5 th,
.AdminRow_1Row5 td {
	font-size: 35px;
	/* border: 1px solid black; */
	text-align: left;
}
.AdminRow_1Row5 th {
	position: sticky;
	top: 0;
	background-color: #bcdac8;
	height: 30px;
	font-size: 40px;
}
.AdminRow_1Row5 th:first-child {
	border-top-left-radius: 15px;
}
.AdminRow_1Row5 th:last-child {
	border-top-right-radius: 15px;
}
.StaffAddButton:hover {
	background-color: royalblue;
}
